.burger {
  display: none;
  cursor: pointer;

  &-image {
    display: none;
    margin-bottom: 10px;

    @media (max-width: 690px) {
      display: block;
    }
  }

  &.active .bar:nth-child(1) {
    @media (max-width: 690px) {
      transform: translateY(8px) rotate(45deg);
    }
  }

  &.active .bar:nth-child(2) {
    @media (max-width: 690px) {
      opacity: 0;
    }
  }

  &.active .bar:nth-child(3) {
    @media (max-width: 690px) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  @media (max-width: 690px) {
    display: block;
  }
}

.bar {
  display: block;
  width: 27px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--light-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black-text-color);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

