.footer {
  background-color: var(--black-text-color);
  min-height: 310px;
  margin-top: 72px;
  padding: 64px 0;

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;
      gap: 27px;
    }
  }

  &__item {
    display: flex;
    gap: 15px;
  }

  &__line {
    background-color: var(--grey-color);
    height: 1px;
    margin-bottom: 72px;
  }

  &__info {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 24px;

    @media (max-width: 900px) {
      text-align: center;
    }
  }

  &__developers {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: end;

    @media (max-width: 900px) {
      text-align: center;
    }
  }

  &__end {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 900px) {
      flex-direction: column;
    }
  }
}
