.hero {
  padding-bottom: 128px;
  margin-bottom: 72px;
  &__title {
    font-weight: 600;
    font-size: 64px;
    line-height: 74px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;

    @media (max-width: 1024px) {
      font-size: 54px;
      line-height: 60px;
    }
    @media (max-width: 800px) {
      font-size: 45px;
      line-height: 51px;
    }

    @media (max-width: 690px) {
      font-size: 36px;
      line-height: 42px;
    }
  }

  &__descr {
    text-align: center;
    font-weight: 450;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 128px;

    @media (max-width: 1024px) {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 90px;
    }
    @media (max-width: 690px) {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 48px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 64px;
    align-items: center;
    margin-bottom: 92px;

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    &-image {
      margin-bottom: 12px;
    }

    &-subtitle {
      max-width: 250px;
      text-align: center;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      margin-bottom: 8px;

      @media (max-width: 800px) {
        font-size: 20px;
        line-height: 23px;
      }
    }

    &-text {
      font-weight: 450;
      text-align: center;
      font-size: 16px;
      line-height: 130%;

      @media (max-width: 1024px) {
        max-width: 315px;
      }
    }

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    @media (max-width: 690px) {
      margin-bottom: 67px;
    }
  }

  &__button-container {
    display: flex;
    justify-content: center;
  }

  @media (max-width: 690px) {
    padding-bottom: 51px;
  }
}
