.team {
  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: var(--black-text-color);
    margin: 72px 0;

    @media (max-width: 690px) {
      font-size: 30px;
      line-height: 38px;
      margin: 45px 0;
    }
  }

  &__list {
    --column-count: 4;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(var(--column-count), 1fr);
    gap: 48px 20px;

    @media (max-width: 1024px) {
      --column-count: 3;
    }

    @media (max-width: 800px) {
      --column-count: 2;
    }

    @media (max-width: 600px) {
      --column-count: 1;
      gap: 20px;
    }
  }

  &__founder {
    display: flex;
    gap: 22px;

    margin-bottom: 24px;

    @media (max-width: 800px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4px;
    }

    &-info {
      padding: 24px;
      background-color: var(--black-text-color);
      @media (max-width: 800px) {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      @media (max-width: 600px) {
        max-width: 310px;
      }
    }

    &-image {
      object-fit: cover;
    }

    &-name {
      font-weight: 500;
      font-size: 32px;
      line-height: 37px;

      @media (max-width: 690px) {
        font-size: 24px;
        line-height: 28px;
      }
    }

    &-subtitle {
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      color: var(--grey-color);
      margin-bottom: 24px;

      @media (max-width: 690px) {
        font-size: 16px;
        line-height: 19px;
      }
    }

    &-text {
      font-weight: 450;
      font-size: 16px;
      line-height: 130%;

      @media (max-width: 690px) {
        font-size: 14px;
        line-height: 19px;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media (max-width: 800px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-info {
      @media (max-width: 800px) {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    &-image {
      object-fit: cover;
    }

    &-name {
      color: var(--black-text-color);
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;

      @media (max-width: 690px) {
        font-size: 24px;
        line-height: 28px;
      }
    }

    &-subtitle {
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      color: var(--grey-color);
      margin-bottom: 24px;

      @media (max-width: 690px) {
        font-size: 16px;
        line-height: 19px;
      }
    }

    &-text {
      font-weight: 450;
      font-size: 16px;
      line-height: 130%;

      @media (max-width: 690px) {
        font-size: 14px;
        line-height: 19px;
      }
    }
  }
}
