.catalog {
  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: var(--black-text-color);
    margin: 72px 0;

    @media (max-width: 690px) {
      font-size: 30px;
      line-height: 38px;
      margin: 45px 0;
    }
  }

  &__list {
    --column-count: 3;
    display: grid;
    grid-template-columns: repeat(var(--column-count), 1fr);
    gap: 20px;

    &-item {
      // min-height: 253px;
    }

    &-item:nth-child(1) {
      background: url('../assets/catalog-11.jpg') center center / cover no-repeat;
    }
    &-item:nth-child(2) {
      background: url('../assets/catalog-12.jpg') center center / cover no-repeat;
    }
    &-item:nth-child(3) {
      background: url('../assets/catalog-2.jpg') center center / cover no-repeat;
    }
    &-item:nth-child(4) {
      background: url('../assets/catalog-1.jpg') center center / cover no-repeat;
    }
    &-item:nth-child(5) {
      background: url('../assets/catalog-2.jpg') center center / cover no-repeat;
    }
    &-item:nth-child(6) {
      background: url('../assets/catalog-3.jpg') center center / cover no-repeat;
    }
    &-item:nth-child(7) {
      background: url('../assets/catalog-7.jpg') center center / cover no-repeat;
    }
    &-item:nth-child(8) {
      background: url('../assets/catalog-8.jpg') center center / cover no-repeat;
    }
    &-item:nth-child(9) {
      background: url('../assets/catalog-9.jpg') center center / cover no-repeat;
    }
    &-item:nth-child(10) {
      background: url('../assets/catalog-snow.jpg') center center / cover no-repeat;
    }
    &-item:nth-child(11) {
      background: url('../assets/catalog-new-1.jpg') center center / cover no-repeat;
    }
    &-item:nth-child(12) {
      background: url('../assets/catalog-new-2.jpg') center center / cover no-repeat;
    }
    &-item:nth-child(13) {
      background: url('../assets/catalog-new-3.jpg') center center / cover no-repeat;
    }
    &-item:nth-child(14) {
      background: url('../assets/catalog-new-4.jpg') center center / cover no-repeat;
    }
    &-item:nth-child(15) {
      background: url('../assets/catalog-new-5.jpg') center center / cover no-repeat;
    }

    @media (max-width: 1024px) {
      --column-count: 2;
    }

    @media (max-width: 800px) {
      --column-count: 1;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 0 24px 64px;

    @media (max-width: 800px) {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
    padding: 64px 24px 0;
  }

  &__time {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
